<!--Examples: Enable-->
<lb-row>

  <!--Example: Checked-->
  <lb-checkbox
    [id]="'checkbox_id_1'"
    [label]="'Click me'"
    [checked]="true"
  ></lb-checkbox>

  <!--Example: Indeterminate-->
  <lb-checkbox
    [id]="'checkbox_id_2'"
    [label]="'Indeterminate'"
    [indeterminate]="true"
  ></lb-checkbox>

  <!--Example: Label To Left-->
  <lb-checkbox
    [label]="'Label To Left'"
    [labelToLeft]="true"
  ></lb-checkbox>
</lb-row>

<!--Examples: Disabled-->
<lb-row>
  <!--Example: Enable-->
  <lb-checkbox
    [disabled]="true"
    [label]="'Click me'"
    [checked]="true"
  ></lb-checkbox>

  <!--Example: Indeterminate-->
  <lb-checkbox
    [disabled]="true"
    [label]="'Indeterminate'"
    [indeterminate]="true"
  ></lb-checkbox>

  <!--Example: Disabled-->
  <lb-checkbox
    [disabled]="true"
    [label]="'Label To Left'"
    [labelToLeft]="true"
  ></lb-checkbox>
</lb-row>
